.bg-alpha{
    /* background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% ); */
    height: 100vh;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    /* width: 100%; */
    /* animation: changeGradient 5s ease-in-out infinite alternate; */
}


.navbar{
    background: transparent !important;
}

.navbar-nav{
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 32px;
}
.nav-item{
    padding: 0 20px;
    font-weight: lighter;
    border-bottom: 1px solid transparent;
    font-size: 20px;
    
}
.nav-item a{
    color: #fff !important;
    font-weight: bold;
}
.nav-item a:hover{
    border-bottom: 1px solid #fff;
    transition: all 0.4s ease-in-out;
}
.nav-item a:hover .active{
    border-bottom-color: transparent !important;
}
.navbar-brand{
    padding: 5px 10px;
    font-weight: bolder;
    color: #fff;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.active{
    border-bottom: 1px solid #fff;
}
.barbar a{
    font-size: 25px;
    border: 1px solid #fff;
    color: #fff !important;
    padding: 10px 11px;
    border-radius: 25px;
    cursor: pointer;
}


.curv1{
    margin-top: 120px !important;
}
.curv1, .curv3{
    font-family: 'Lumanosimo', cursive;
}
.curv2{
    font-weight: bold;
}
.curv1 , .curv2 , .curv3{
    font-size: 80px;
    color: #fff;
    letter-spacing: 8.1px;
}
.hand{
    position: absolute;
    top: 1;
    top: 106px;
    right: 50px;
    animation: moveUpDown 1s infinite alternate ease-in-out;
}
@keyframes moveUpDown {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px); /* Adjust this value to control the movement distance */
    }
  }
.bg-pat{
    background-image: url(../images/pat.png);
    background-size: cover;
    height: 250px;
    background-repeat: no-repeat;
}

.pski p{
    color: #fff;
}
.btn-cus{
    width: 150px;
    height: 150px;
    border-radius: 96px;
    background-color: orangered;
    font-family: 'Lumanosimo', cursive;
    font-size: 20px;
    outline: none;
    border: none;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.p-1{
    font-family: 'Lumanosimo', cursive;
    font-size: 19px;
}
.p-2{
    font-weight: bold;
    font-size: 27px;
    letter-spacing: 1px;
}
.top-soc a{
    margin: 10px;
    color: #fff;
    font-size: 35px;
}


#navbar {
    transition: background-color 0.3s;
    /* Default styles */
  }
  
  #navbar.scrolled {
    background-color: rgba(0,0,0,0.5) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* Styles when scrolled  away*/
  }
  .offcanvas{
    width: 100vw !important;
    background: transparent;
    color: #fff;
  }