.imagine{
    background-color: #000;
}
.mob{
    background: rgb(25,24,27);
background: linear-gradient(180deg, rgba(25,24,27,1) 0%, rgba(0,0,0,1) 100%);
border-radius: 35px;

}
.mob h2,p{
    color: #fff !important;
}
.col-pho{
    border-top: .9px solid #858585;
    border-right: 1px solid #858585;
    border-left: 1px solid #858585;
    border-radius: 34px;
    /* margin-top: -30px !important; */
    /* position: absolute; */
    transform: translateY(-75px);
    background-color: #000;
}
hr{
    color: #fff;
}
.mob p{
    font-family: 'Lumanosimo', cursive;

}
.mob span{
    font-size: 29px;
    font-weight: bolder;
    font-family: sans-serif;
}
.imagine{
    /* position: relative; */
}
